@model UserForLoginDto;
@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>My Awesome Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/login.css" />

</head>
<body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="~/css/comdata.jpg" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="" class="form-control input_user" value="" placeholder="username">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="" class="form-control input_pass" value="" placeholder="password">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                <label class="custom-control-label" for="customControlInline">Remember me</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="button" name="button" class="btn login_btn">Login</button>
                        </div>
                    </form>
                </div>

                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        Don't have an account? <a href="https://localhost:44371/Home/register" class="ml-2">Sign Up</a>
                    </div>
                    <div class="d-flex justify-content-center links">
                        <a href="#">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("document").ready(function () {
            var password = "";
            var username = "";
            $(".login_btn").click(function (e) {
                e.preventDefault();
                password = $(".input_pass").val();
                username = $(".input_user").val();
                var _data = JSON.stringify({
                    "Password": password,
                    "Email": username,
                });
                $.ajax({
                    type: "POST",
                    url: '/home/loginsend',
                    contentType: 'application/json',
                    data: _data,
                    success: function (data) {
                        if (data == "1") {
                        console.log("başarılı giriş");

                        window.location = "/Home/questionview";

                        }
                        if (data == "2") {
                            $('.input_user').val("Hatalı Giriş").css("background-color", "red");
                            setTimeout(function () { console.log("hatalı") }, 7000);
                            window.location = "/Home/login";
                           

                        }
                    },
                    error: function (x, q, w) {
                        if (data == "2") {
                            console.log("Hatalı giriş");
                           
                            window.location = "/Home/login";

                        }
                    },
                });
            });
        });

    </script>

</body>
</html>
